// Файл обнуляющих стилей
@import "nullstyle.scss";
*{
   
}

body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.allcontent {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.container {
   max-width:  1180px;
   margin: 0px auto;
}
.content {
   flex: 1 1 auto;
}
.boxhi{
   background-color: #445162;
   padding: 50px 0px;

		&__row {
         display: flex;
         justify-content: space-between;
		}

		&__body {
         color: #fff;
         padding: 0px 30px 0px 0px;
		}

		&__title {
         margin: 0px 0px 38px 0px;
         text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
         font-size: 60px;
		}

		&__list {
            & li {
               background: url("../img/icon/icon.png") 0 1px no-repeat;
               font-size: 20px;
               text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
               padding: 0px 0px 0px 36px;
               margin: 0px 0px 15px 0px;
               line-height: 22px;
               }
               &  :last-child{
                  margin: 0px;
         }
		}

		&__img {
		}
}
.footer {
   background-color: #f5f5f5;
		&__row {
         height: 65px;
         display: flex;
         align-items: center;
         justify-content: center;
		}
		&__text {
      font-size: 12px;
      letter-spacing: 0.3px;
      color: #445162;
		}
}
.boxwhat {

		&__row {
         display: flex;
         padding: 50px 0px;
		}

		&__img {
         flex:0 0 430px ;
         & img{
            max-width: 100%;
         }
		}

		&__body {
         padding: 0px 0px 0px 38px;
         flex: 1 1 auto;
		}

		&__title {
         margin: 0px 0px 33px 0px;
      
		}

		&__text {
         & p{
            font-size: 16px;
            line-height: 1.5;
            margin: 0px 0px 25px 0px;
            color: #333333;
         }     
		}
}

.title {
   font-size: 30px;
   color: rgb(68, 81, 97);
   line-height: 36px;
}
.boxcolumn {
   background-color: #f5f5f5;
   padding: 50px 0px 20px 0px;

		&__title {
         text-align: center;
         margin: 0px 0px 30px 0px;

		}

		&__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -8px;
		}

		&__columns {
         padding: 0px 8px;
         flex: 0 1 50%;
         margin: 0px 0px 30px 0px;

		}
}

.item {

		&__row {
         display: flex;
		}

		&__img {
         flex: 0 0 200px;
		}

		&__body {
         flex: 1 1  auto;
         padding: 0px 0px 0px 15px;
		}

		&__title {
         font-size: 24px;
         color: #445161;
         line-height: 30px;
         margin: 0px 0px 13px 0px;
		}

		&__text {
         font-size: 16px;
         line-height: 24px;
         color: #333333;

		}
}


